# 1. Lấy từ @BotFather trên Telegram
BOT_TOKEN=8716276471:AAFnGaAzMmKD-y0S_gYx-maVRVm98469Vp4

# 2. Đăng ký miễn phí tại: https://www.football-data.org/client/register
#    Nhận email trong ~1 phút → vào dashboard copy API key
FD_API_KEY=c7d566ce00fd450ca388c11d844a5be2
